---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/container.astro";
import { Picture } from "@astrojs/image/components";
import { getService, getServices } from "@utils/sanity";
import { getPosts, getPost } from "@utils/sanity";
import { urlFor } from "../../utils/image";
import { PortableText } from "astro-portabletext";
import type { Params } from "astro";

export async function getStaticPaths() {
  const posts = await getServices();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

const { slug } = Astro.params as Params;

const post = await getService(slug?.toString()!);
---

<Layout title={post.title!}>
  <Container>
    <section class="items-center">
      {
        post.mainImage ? (
          <>
            <Picture
              src={urlFor(post.mainImage).url()}
              alt="Cover image"
              sizes="(max-width: 800px) 100vw, 800px"
              widths={[200, 400, 800]}
              aspectRatio="16:9"
              background="#ffffff"
              fit="cover"
              position="center"
              class="rounded overflow-hidden h-auto z-0 mx-auto pt-12"
            />
          </>
        ) : (
          <div class="flex items-center col-span-1 h-full w-full bg-gray-500">
            <div class="content-center">
              <img
                class=""
                src="/fa2b3c00-2423-4c15-be39-4d4beda7092d.webp"
                alt=""
              />
            </div>
          </div>
        )
      }

      <div class="mx-auto my-8 pb-8 border-b">
        <span
          class="uppercase tracking-wider text-sm font-medium text-gray-500 dark:text-gray-400"
        >
        </span>
        <h1
          class="text-4xl lg:text-5xl prose text-center font-bold lg:tracking-tight mt-1 lg:leading-tight text-medbg"
        >
          {post.title}
        </h1>
      </div>

      <div
        class="mx-auto prose prose-2xl dark:prose-invert mt-6 text-gray-500 dark:text-gray-400 pb-12"
      >
        <PortableText value={post.body} />
      </div>
    </section>
  </Container>
</Layout>
