---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/container.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const services = await getCollection("services");
  return services.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <Container>
    <div class="mb-8">
      <img
        src={entry.data.image.src}
        alt={entry.data.image.alt}
        class="object-cover w-full h-48 md:h-96 rounded-lg shadow-lg"
      />
    </div>

    <h1 class="text-2xl">{entry.data.title}</h1>
    <div class="py-12">
      <Content />
    </div>
  </Container>
</Layout>
