---
import Container from "../components/container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About EM React">
  <Container>
    <div class="text-white">
      <h1>About EM React</h1>
      <p>EM React is a React component library for Astro.</p>
      <p>It is a work in progress.</p>
    </div>
  </Container>
</Layout>
