---
import Nightmode from "./nightmode.astro";
import Social from "./ui/social.astro";

---


<footer class="bg-gray-100 dark:bg-red-700">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="/" class="flex items-center">
                  <img src="/emreactlogo.png" class="h-12 mr-3" alt="FlowBite Logo" />
                  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
              </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-2">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                  <ul class="text-gray-600 dark:text-white font-medium">
                      <li class="mb-4">
                          <a href="/about" class="hover:underline">About</a>
                      </li>
                      <li>
                          <a href="/services" class="hover:underline">Services</a>
                      </li>
                  </ul>
              </div>
              
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                  <ul class="text-gray-600 dark:text-white font-medium">
                      <li class="mb-4">
                          <a href="#" class="hover:underline">Privacy Policy</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-white">© 2023 <a href="https://flowbite.com/" class="hover:underline">EM React™</a>. All Rights Reserved.
          </span>
          <Nightmode />
          <Social />
      </div>
    </div>
</footer>
