---
import Nightmode from "./nightmode.astro";
import Social from "./ui/social.astro";

import { Icon } from "astro-icon";
---

<footer class="bg-gray-100 dark:bg-red-700">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="/" class="hidden items-center">
          <img src="/emreactlogo.png" class="h-12 mr-3" alt="FlowBite Logo" />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >EM React</span
          >
        </a>

        <div
          class="hidden text-white md:flex content-center flex-wrap space-x-5"
        >
          <div class="block text-white content-center flex-wrap space-y-3">
            <div class="flex items-center space-x-2 text-white">
              <Icon class="w-4 h-4" name="ic:baseline-add-ic-call" /><a
                href="tel:+443334559090"
                >Free Phone: 0333-455-9090
              </a>
            </div>
            <div class="flex items-center space-x-2 text-white">
              <Icon class="w-4 h-4" name="ic:baseline-add-ic-call" /><a
                href="tel:+447907019830"
                >24 Hour Line 1: 0790-701-9830
              </a>
            </div>
            <div class="flex items-center space-x-2 text-white">
              <Icon class="w-4 h-4" name="ic:baseline-add-ic-call" /><a
                href="tel:+447731951808 "
                >24 Hour Line 2: 0773-195-1808
              </a>
            </div>
            <div class="flex items-center space-x-2 text-white">
              <Icon class="w-4 h-4" name="ic:baseline-chat" />
              <a href="mailto:info@medastra.co.uk">urgent@emreact.co.uk</a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-2">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Resources
          </h2>
          <ul class="text-gray-600 dark:text-white font-medium">
            <li class="mb-4">
              <a href="/about" class="hover:underline">About</a>
            </li>
            <li>
              <a href="/services" class="hover:underline">Services</a>
            </li>
          </ul>
        </div>

        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Legal
          </h2>
          <ul class="text-gray-600 dark:text-white font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>

            <li>
              <a href="#" class="hover:underline">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-white"
        >© 2023 <a href="https://flowbite.com/" class="hover:underline"
          >EM React™</a
        >. All Rights Reserved.
      </span>
      <Nightmode />
      <Social />
    </div>
  </div>
</footer>
